@charset "UTF-8";
/* (A) FULL SCREEN WRAPPER */
#simple {
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: -1;
    width: 100vw; 
    height: 100vh;
    --tw-bg-opacity: 1;
    transition: opacity 0.2s;
}

/* (B) CENTER LOADING SPINNER */
#simple img {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%);
}

/* (C) SHOW & HIDE */
#simple {
    visibility: visible;
    opacity: 1;
}
  