body, html {
    height: 100vh;
}

.fundo-login{
    background-image: url('../../images/fundo_login2.jpg');
    background-size: cover;
    background-position: top;
    min-height: 100%;
    height: 100vh;
    position: relative;
}

html { 
    background: url('../../images/fundo_login.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }